# Created by .ignore support plugin (hsz.mobi)
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml

3482360.xlsx
64731-178185-hcc.xml
88524-hbasewriteexample.xml
Materials Testing HCC Article.docx
Materials Testing.iml
Re: Permission to use images - uidaho.eml
SEM Image Metadata Template.xlsx
Trucking-Demo.json

~$terials Testing HCC Article.docx
/Picture5.png
/Picture6.png
/Picture4.png
/Picture2.png
/Picture1.png
/Picture3.png
